.VPFeature .details > a {
  color: var(--vp-home-hero-name-color);
}

h1.heading > .text {
  font-size: 52px;
}

html.dark {
  .main {
    img[alt="diagram"] {
      filter: invert(1);
    }
  }
}

img[alt="diagram"] {
  margin-left: auto;
  margin-right: auto;
}

.VPHomeFeatures article.box > .icon {
  font-size: 36px;
}

.VPHomeFeatures article.box > h2 > a {
  color: var(--vp-home-hero-name-color);
}
